* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: black;
    display: flex;
    padding: 15px;
}

header div {
    background-color: black;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto
}

.spotify-logo {
    width: 150px;
}

.menu {
    color: aliceblue;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li:hover {
    color: #1ed760;
    ;
}

.menu li {
    margin-left: 20px;
}

.section-premium {
    background-color: rgb(45, 70, 185);
    color: white;
}

.section-premium div {
    width: 80%;
    margin: auto;
}

.section-premium h1 {
    font-size: 40px;
    padding: 40px 0;
}

.section-premium h2 {
    font-size: 20px;
    padding-bottom: 40px;
}

.section-premium p {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
}

.section-premium a {
    color: white;
}

#btn-Comece-agora {
    background-color: black;
    color: white;
    padding: 15px 35px;
    border-radius: 100px;
    border: 1px solid black;
}

#btn-Comece-agora:hover {
    padding: 18px 40px;
}

#btn-Ver-planos {
    background-color: rgb(45, 70, 185);
    border: 1px solid white;
    color: white;
    padding: 15px 35px;
    border-radius: 100px;
}

#btn-Ver-planos:hover {
    padding: 18px 40px;
}

.section-why-primum {
    text-align: center;
    width: 80%;
    margin: auto;
}

.section-why-primum h2 {
    font-size: 30px;
    padding: 70px 0;
}

.premium-items {
    display: flex;
    justify-content: space-evenly;
}

.premium-items img {
    width: 120px;
    padding-bottom: 20px;
}

.premium-items div {
    padding: 0 40px 70px 40px;
}

.premium-items h4 {
    padding-bottom: 10px;
}

.section-chose-plan {
    background-color: #f8f8f8;
}

.section-chose-plan div {
    width: 80%;
    margin: auto;
    text-align: center;
}

.section-chose-plan h2 {
    font-size: 30px;
    padding-top: 70px;
}

.section-chose-plan h3 {
    font-size: 15px;
    padding: 10px 0;
}

.credit-cards {
    display: flex;
    justify-content: center;
}

.credit-cards img {
    width: 25px;
}

.section-plan {
    display: flex;
    height: 700px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.plan-style {
    background-color: white;
    box-shadow: 1px 1px 5px rgb(141, 141, 141);
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 590px;
    max-width: 900px;
    font-size: 17px;
}

.free-month {
    background-color: rgb(45, 70, 185);
    color: white;
    border-radius: 2px;
    padding: 5px;
}

.unique-payment {
    color: rgb(45, 70, 185);
    border: 1px solid rgb(45, 70, 185);
    border-radius: 2px;
    padding: 5px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 900;
}

.price {
    text-align: left;
}

.plan-style hr {
    width: 100%;
    margin: 10px 0;
}

.plan-style ol {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    list-style-type: '✔️';
}

.btn-Comece-agora {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 100px;
    border: 1px solid black;
    margin: auto;
}

.conditions,
.conditions a {
    color: rgb(85, 85, 85);
    font-size: 10px;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 70px 10%;
}

footer div ul {
    color: rgb(131, 131, 131);
    list-style-type: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #1ed760;
}

footer li:nth-child(1) {
    padding-bottom: 20px;
}

footer li {
    padding: 10px 20px;
    font-size: 15px;
}

footer img {
    width: 150px;
    padding-right: 20px;
}

footer i {
    color: white;
    font-size: 20px;
    padding: 0 10px;
}

footer i:hover {
    color: #1ed760; 
}

.links {
    background-color: black;
}

.links p a {
    color: white;
    font-size: 10px;
    padding: 0 10px;
    display: flex;
    margin-top: auto;
}

.links p a:hover {
    color: #1ed760;
}

.btn-Comece-agora:hover {
    padding: 15px 40px;
}